.directors__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7;
  padding: 50px 0;
  background-image: linear-gradient(to top, #532626 0%, #b1acaa 30%, #fffcf7 100%);
  background: linear-gradient(to bottom, #f3ebeb, #758b91);
  background: linear-gradient(to bottom, #e6dada, #274046);
}

.directors__years {
  margin-top: 30px;
  font-size: 2rem;
}

.directors__info {
  max-width: 1400px;
  text-align: justify;
  margin: auto;
}

.directors__image {
  min-width: 320px;
  border: 2px solid rgb(59, 22, 22)
}
@media (max-width: 1440px) {
  .directors__info {
    width: 95%;
    margin: auto;
  }

}
