.section {
    height:100vh;
}
.section--exposition {
    background: url('../../images/68238.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 40px);
}
.exposition__container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
}
.exposition__title {
    font-size: 4rem;  
    text-align: center;
    color: var(--color-primary);
}
.button {
    font-size: 2rem;
}
