.section--exposition {
    background: url('../../images/68238.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 40px);
}
.exposition__container {
    max-width: 600px;
    height: 100%;
    margin: 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.exposition__title {
    font-size: 3.2rem;
    text-align: center;
    color: var(--color-primary);
}
.button {
    font-size: 2rem;
}
